[submodule "sm/sonic-swss-common"]
	path = sm/sonic-swss-common
	url = https://github.com/Azure/sonic-swss-common.git
[submodule "sm/sonic-sairedis"]
	path = sm/sonic-sairedis
	url = https://github.com/Azure/sonic-sairedis.git
[submodule "sm/sonic-swss"]
	path = sm/sonic-swss
	url = https://github.com/Azure/sonic-swss.git
[submodule "sm/sonic-utilities"]
	path = sm/sonic-utilities
	url = https://github.com/Azure/sonic-utilities.git
[submodule "sm/sonic-buildimage"]
	path = sm/sonic-buildimage
	url = https://github.com/Azure/sonic-buildimage.git
[submodule "sm/sonic-py-swsssdk"]
	path = sm/sonic-py-swsssdk
	url = https://github.com/Azure/sonic-py-swsssdk.git
