on:
    pull_request:
        branches:
        - master
        - 201811
        - 201904
env:
    K: sudo k3s kubectl
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - uses: docker/setup-buildx-action@v1
          id: buildx
        - name: Login to GitHub Container Registry
          uses: docker/login-action@v1
          with:
            registry: ghcr.io
            username: ${{ github.repository_owner }}
            password: ${{ secrets.GH_A_PAT }}
        - name: install k3s
          run: curl -sfL https://get.k3s.io | sh -s - --docker
        - uses: actions/checkout@v2
        - run: git submodule update --init --recursive sm/sonic-py-swsssdk sm/sonic-sairedis sm/sonic-swss sm/sonic-swss-common sm/sonic-utilities
        - run: git submodule update --init sm/sonic-buildimage
        - run: cd sm/libteam && make all
        - name: Cache Docker layers
          uses: actions/cache@v2
          with:
            path: /tmp/.buildx-cache
            key: ${{ github.ref }}-${{ github.sha }}
            restore-keys: |
              ${{ github.ref }}-${{ github.sha }}
              ${{ github.ref }}
              refs/head/${{ github.event.pull_request.base.ref }}
        - name: Build usonic-swss-common
          uses: docker/build-push-action@v2
          with:
            context: ./
            file: ./docker/build-swss-common.Dockerfile
            builder: ${{ steps.buildx.outputs.name }}
            tags: ghcr.io/microsonic/usonic-swss-common:${{ github.sha }}
            cache-from: type=local,src=/tmp/.buildx-cache
            cache-to: type=local,dest=/tmp/.buildx-cache
            push: true
        - name: Build usonic-sairedis
          uses: docker/build-push-action@v2
          with:
            context: ./
            file: ./docker/build-sairedis.Dockerfile
            builder: ${{ steps.buildx.outputs.name }}
            tags: ghcr.io/microsonic/usonic-sairedis:${{ github.sha }}
            build-args: |
              USONIC_SWSS_COMMON_IMAGE=ghcr.io/microsonic/usonic-swss-common:${{ github.sha }}
            cache-from: type=local,src=/tmp/.buildx-cache
            cache-to: type=local,dest=/tmp/.buildx-cache
            push: true
        - name: Build usonic-libteam
          uses: docker/build-push-action@v2
          with:
            context: ./
            file: ./docker/build-libteam.Dockerfile
            builder: ${{ steps.buildx.outputs.name }}
            tags: ghcr.io/microsonic/usonic-libteam:${{ github.sha }}
            build-args: |
              USONIC_SWSS_COMMON_IMAGE=ghcr.io/microsonic/usonic-swss-common:${{ github.sha }}
              USONIC_SAIREDIS_IMAGE=ghcr.io/microsonic/usonic-sairedis:${{ github.sha }}
            cache-from: type=local,src=/tmp/.buildx-cache
            cache-to: type=local,dest=/tmp/.buildx-cache
            push: true
        - name: Build usonic-swss
          uses: docker/build-push-action@v2
          with:
            context: ./
            file: ./docker/build-swss.Dockerfile
            builder: ${{ steps.buildx.outputs.name }}
            tags: ghcr.io/microsonic/usonic-swss:${{ github.sha }}
            build-args: |
              USONIC_SWSS_COMMON_IMAGE=ghcr.io/microsonic/usonic-swss-common:${{ github.sha }}
              USONIC_SAIREDIS_IMAGE=ghcr.io/microsonic/usonic-sairedis:${{ github.sha }}
              USONIC_LIBTEAM_IMAGE=ghcr.io/microsonic/usonic-libteam:${{ github.sha }}
            cache-from: type=local,src=/tmp/.buildx-cache
            cache-to: type=local,dest=/tmp/.buildx-cache
            push: true
        - name: Build run-image
          uses: docker/build-push-action@v2
          with:
            context: ./
            file: ./docker/run.Dockerfile
            builder: ${{ steps.buildx.outputs.name }}
            tags: ghcr.io/microsonic/usonic:${{ github.sha }}
            build-args: |
              USONIC_SWSS_COMMON_IMAGE=ghcr.io/microsonic/usonic-swss-common:${{ github.sha }}
              USONIC_SAIREDIS_IMAGE=ghcr.io/microsonic/usonic-sairedis:${{ github.sha }}
              USONIC_SWSS_IMAGE=ghcr.io/microsonic/usonic-swss:${{ github.sha }}
              USONIC_LIBTEAM_IMAGE=ghcr.io/microsonic/usonic-libteam:${{ github.sha }}
            cache-from: type=local,src=/tmp/.buildx-cache
            cache-to: type=local,dest=/tmp/.buildx-cache
            push: true
        - name: Build debug-image
          uses: docker/build-push-action@v2
          with:
            context: ./
            file: ./docker/debug.Dockerfile
            builder: ${{ steps.buildx.outputs.name }}
            tags: ghcr.io/microsonic/usonic-debug:${{ github.sha }}
            build-args: |
              USONIC_SWSS_COMMON_IMAGE=ghcr.io/microsonic/usonic-swss-common:${{ github.sha }}
              USONIC_SAIREDIS_IMAGE=ghcr.io/microsonic/usonic-sairedis:${{ github.sha }}
              USONIC_SWSS_IMAGE=ghcr.io/microsonic/usonic-swss:${{ github.sha }}
              USONIC_LIBTEAM_IMAGE=ghcr.io/microsonic/usonic-libteam:${{ github.sha }}
              USONIC_RUN_IMAGE=ghcr.io/microsonic/usonic:${{ github.sha }}
            cache-from: type=local,src=/tmp/.buildx-cache
            cache-to: type=local,dest=/tmp/.buildx-cache
            push: true
        - uses: imranismail/setup-kustomize@v1
        - run: |
            cd k8s && kustomize edit set image ghcr.io/microsonic/usonic-debug:201904=ghcr.io/microsonic/usonic-debug:${{ github.sha }}
        - run: |
            $K apply -k ./k8s
            while [ true ]
            do
              sleep 10
              $K get pods || true
              ($K exec usonic-cli -- show interface status | grep Ethernet1) && exit 0 || true
            done
        - run: |
            $K exec usonic-cli -- show interface status
            $K exec usonic-cli -- config vlan add 1000
            $K exec usonic-cli -- config vlan member add 1000 Ethernet1 -u
            $K exec usonic-cli -- config vlan member add 1000 Ethernet2 -u
            $K exec usonic-cli -- show vlan brief
